/* Reset some default styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Your provided CSS for the header */
.main-header {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #000000; /* Set the background color of the header to black */
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Other sections and styles */
.about-section {
  background-color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.work-showcase {
  background-color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.footer {
  background-color: #ffffff; /* Set the background color of the footer to white */
  color: limegreen; /* Set the text color of the footer to lime green */
  text-align: center;
  padding: 20px 0;
}

.social-media {
  margin-top: 20px;
}

.social-icon {
  font-size: 24px;
  margin: 0 10px;
  color: black; /* Set the social icon color to black */
}

/* Centered section for the PayPal donation button */
.centered-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh; /* Adjust as needed to center vertically */
  background-color: #ffffff; /* You can change the background color */
}
